* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: black;
  background: #f7f7f7;

  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  font-size: 62.5%;
}

body,
input,
button {
  font: 400 18px/1.5 "Oxygen", sans-serif;
  text-transform: lowercase;
}

.container {
  position: absolute;
  width: 55.5rem;
  height: 45.5rem;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  background: white;
  border: none;
  box-shadow: 9px 10px 15px -8px rgba(0, 0, 0, 0.75);
  padding: 2rem;
}

.container input {
  border-radius: 20px;
  outline: none;
  padding: 0.4rem 1.5rem;
  width: 50%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
}

#binary {
  margin: 0.5rem 0 2rem 0;
}

#binary,
#binary-label {
  animation-delay: 50ms;
}

#result-label {
  margin-top: 1rem;
}

#result {
  margin: 0.5rem 0 0 0;
}

#result,
#result-label {
  animation-delay: 150ms;
}

.container button {
  width: 20rem;
  margin: 2rem;
  padding: 0.8rem 2rem;
  background-color: #3cdaa3;
  color: white;
  border: none;
  border-radius: 20px;

  outline: none;

  transition: 200ms;
  animation-delay: 100ms;
}

.container button:hover {
  background: #3febaf;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}